[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins
[submodule "output"]
	path = output
	url = https://github.com/kylekizirian/kylekizirian.github.io.git
    ignore = all
